<% if @purpose.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
<% @purpose.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<% @purpose = Purpose.new unless @purpose %>
<%= form_for @purpose do |t| %>
<div class="box">
  
  <h3>目的を追加</h3>
  <span class="submit_item">
    <%= t.label :user_purpose ,"目的" %>&nbsp;
  </span>
  <span class="input_field">
    <%= t.text_field :user_purpose %>
  </span><br><br>
  <%= t.submit '目的を追加する', {class:"submit_btn"} %>
  <br><br>
  
  <span class="back_btn">
    <%= link_to "戻る", :back, class:"link" %>
  </span>
  <span class="sub_btn">
    <%= link_to '目的一覧', purposes_path, class:"link" %>
  </span>
  <span class="sub_btn">
    <%= link_to 'ホーム', root_path, class:"link" %>
  </span>
</div>
<% end %>