<%= form_tag top_login_path, method: :post do %>
<div class="box">
  
  <h3>ログイン</h3>
  <span class="submit_item">
    <%= label_tag :uid, 'ユーザーID' %>&nbsp;
  </span>
  <span class="input_field">
    <%= text_field_tag :uid %>
  </span>
  <br>
  <span class="submit_item">
    <%= label_tag :pass, 'パスワード' %>&nbsp;
  </span>
  <span class="input_field">
    <%= password_field_tag :pass %>
  </span>
  <br><br>
  <%= submit_tag 'ログイン', class: "submit_btn" %>
  
  <br><br>
  <span class="sub_btn">
    <%= link_to '新規ユーザ追加', new_user_path, class:"link" %>
  </span>
</div>
<% end %>