<%= form_for @comment do |c| %>
  <div class="submit_item">
    <%= c.label :user_comment ,"コメント" %>
    <span class="input_field">
      <%= c.text_field :user_comment %>
    </span>
  </div>
  <%= c.hidden_field :word_id %>
  <%= c.submit 'コメントを投稿する', class: "submit_btn" %>
<% end %>

<span class="back_btn">
  <%= link_to "戻る", :back %>
</span>