<%= form_for @user, url: {action: :create} do |f| %>
  <div class="box">
    
    <h3>ユーザー登録</h3>
    <div class="submit_item">
      <%= f.label :uid, 'ユーザーID' %>
      <span class="input_field">
        <%= f.text_field :uid %>
      </span>
    </div>
  </p>
  <div class="submit_item">
    <%= f.label :password, 'パスワード' %>
    <span class="input_field">
      <%= f.password_field :password %>
    </span>
  </div>
  <div class="submit_item">
    <%= f.label :password_confirmation, '再入力' %>
    <span class="input_field">
      <%= f.password_field :password_confirmation %>
    </span>
  </div>
  <%= f.submit '登録', class: "submit_btn" %>
  <br>
  
  <span class="back_btn">
    <%= link_to "戻る", :back, class:"link" %>
  </span>
  <span class="sub_btn">
    <%= link_to 'ログイン', top_main_path, class:"link" %>
  </span>

</div>
<% end %>