<% if @user.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= form_for @user, url: {action: :create} do |f| %>
  <div class="box">
    
    <h3>ユーザー登録</h3>
    <span class="submit_item">
      <%= f.label :uid, 'ユーザーID' %>&nbsp;
    </span>
    <span class="input_field">
      <%= f.text_field :uid %>
    </span><br>
  
  <span class="submit_item">
    <%= f.label :password, 'パスワード' %>&nbsp;
  </span>
  <span class="input_field">
    <%= f.password_field :password %>
  </span><br>
  
  <span class="submit_item">
    <%= f.label :password_confirmation, '再入力' %>&nbsp;
  </span>
  <span class="input_field">
    <%= f.password_field :password_confirmation %>
  </span><br><br>
  <%= f.submit '登録', class: "submit_btn" %>
  <br>
  
  <span class="back_btn">
    <%= link_to "戻る", :back, class:"link" %>
  </span>
  <span class="sub_btn">
    <%= link_to 'ログイン', top_main_path, class:"link" %>
  </span>

</div>
<% end %>