<% if current_user %>
  <%= current_user.uid %>
  でログイン中：
  <%= link_to 'ログアウト', top_logout_path, class:"link" %>
<% else %>
  <%= link_to 'ログイン', top_main_path %>
<% end %>

<ul id="nav">
  <li><%= link_to '目的一覧', purposes_path, class:"link" %></li>
  <li><%= link_to '新しい目的の追加', new_purpose_path, class:"link" %></li>
  <li><%= link_to '新しい単語の追加', new_word_path, class:"link" %></li>
</ul>

<% flash.each do |key,value| %>
  <p><%= value %><p>
<% end %>

<% p_h = Purpose.pluck(:id, :user_id) %>
<% p_h.each do |i| %>
<% if (current_user.id.to_i) == i[1].to_i %>
  <div class="box">
    <h2><%= Purpose.find(i[0]).user_purpose %></h2>
    <%= link_to '復習クイズへ', quiz_start_path(purpose_id: i[0]), class:"link" %>
    <table border="2">
    <% @words.all.where(purpose_id: i[0]).each do |w| %>
      <tr>
        <td width="150"><%= w.user_word %></td>
        <td width="200"><%= w.mean %></td>
        <td><%= link_to image_tag("trash_can2.png", class:"img_size"), word_path(w), method: :delete %></td>
        <% if w.weakwords.count.to_i > 0 %>
        <% logger.debug("--------------------------------------------") %>
          <td><%= link_to image_tag("weakmark_on2.png", class:"img_size"), weakword_path(w), method: :delete %></td>
        <% else %>
          <td><%= link_to image_tag("weakmark_off2.png", class:"img_size"), weakwords_path(word_id: w.id.to_i), method: :post %></td>
          <% logger.debug(w.id.to_i) %>
          
        <% end %>
        <td><%= link_to image_tag("comment_all2.png", class:"img_size"), comments_new_path(id: w.id) %></td>
        <td><%= link_to image_tag("comment_add2.png", class:"img_size"), comments_index_path(id: w.id)%></td>
    <% end %>
    </table>
  </div>
  <% end %>
<% end %>