<% @words.each do |w| %>
  <p>
    <%= w.user_word %>
    <%= w.mean%>
    <%= link_to '削除', word_path(w), method: :delete %>
    
    <%= link_to '苦手追加', new_weakword_path(w)%>
    <%= link_to '苦手削除', weakword_path(w), method: :delete %>
    <%= link_to 'コメント追加', comments_path(word_id: w.id)%>
  </p>
 <!-- todo 各コントローラーで各アクションの作成 -->
<% end %>

<p> 
  <%= link_to '新規単語を追加する', new_word_path %>
</p>

<p>
  <%= link_to 'ユーザ一覧', users_path %>
</p>

<p>
  <%= link_to '新規', new_user_path%>
</p>

<p>
  <%= link_to 'ログイン', top_main_path %>
</p>