<% @words.each do |w| %>
  <p>
    <%= w.user_word %>
    <%= w.mean%>
    <%= link_to 'å‰Šé™¤', word_path(w), method: :delete %>
    <% if w.weakwords.count > 0 %>
      <%= link_to 'OKðŸ‘', weakword_path(w), method: :delete %>
    <% else %>
      <%= link_to 'NOðŸ‘Ž', weakwords_path(word_id: w.id), method: :post %>
    <% end %>
    <%= link_to 'ã‚³ãƒ¡ãƒ³ãƒˆè¿½åŠ ', comments_new_path(id: w.id)%>
    <%= link_to 'ã‚³ãƒ¡ãƒ³ãƒˆä¸€è¦§', comments_index_path(id: w.id)%>
  </p>
 <!-- todo å„ã‚³ãƒ³ãƒˆãƒ­ãƒ¼ãƒ©ãƒ¼ã§å„ã‚¢ã‚¯ã‚·ãƒ§ãƒ³ã®ä½œæˆ -->
<% end %>

<p> 
  <%= link_to 'æ–°è¦å˜èªžã‚’è¿½åŠ ã™ã‚‹', new_word_path %>
</p>

<p>
  <%= link_to 'ãƒ¦ãƒ¼ã‚¶ä¸€è¦§', users_path %>
</p>

<p>
  <%= link_to 'æ–°è¦', new_user_path%>
</p>
<p>
<% if current_user %>
  <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', top_logout_path %>
<% else %>
  <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', top_main_path %>
<% end %>
</p>